* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h2,
h3 {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: underline;
}

a:visited {
  color: #0892d0;
}

nav {
  padding: 20px;
  color: #0892d0;
  background-color: #2a2a35;
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100vw;
}

nav h3 {
  padding: 20px;
  cursor: pointer;
}

.burger {
  width: 50px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.line {
  min-height: 12px;
  min-width: 50px;
  border-radius: 5px;
  background-color: #0892d0;
  margin: 2px;
}

.dark-bg,
.white-bg,
.blue-bg {
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

.clickable {
  cursor: pointer;
}

.dark-bg {
  background-color: #2a2a35;
  color: white;
}

.intro-section {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 200px;
}

.inro h1,
.intro h2,
.intro h3 {
  padding: 10px;
}

.blue-btn {
  outline: 2px solid #0892d0;
  border: none;
  background: transparent;
  text-decoration: none;
  margin: 10px;
  padding: 10px 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 1.5em;
  color: #0892d0;
  cursor: pointer;
}

.intro-img {
  width: 250px;
  height: auto;
}

.white-circle {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border: 10px solid #0892d0;
}

.custom-shape-divider-bottom-1630940819 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1630940819 svg {
  position: relative;
  display: block;
  width: calc(178% + 1.3px);
  height: 289px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1630940819 .shape-fill {
  fill: #0892d0;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1630940819 svg {
    width: calc(239% + 1.3px);
    height: 163px;
  }
}

.blue-bg {
  background-color: #0892d0;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about-me-text {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.about-me-text p {
  font-size: 1.5em;
}

.skills-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skill-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skill-row div {
  padding: 20px;
}

.skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  background-color: #2a2a35;
  margin: 20px;
}

.white-bg {
  padding-top: 200px;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.white-bg h2 {
  font-size: bold;
}

.card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  background-color: #2a2a35;
  margin: 20px;
  padding: 20px;
  max-width: 350px;
  width: auto;
  height: 600px;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-filter: drop-shadow(10px 10px 2px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(10px 10px 2px rgba(0, 0, 0, 0.5));
}

.logo {
  width: 70px;
  height: auto;
  padding: 5px;
  height: auto;
}

.tech-stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.custom-shape-divider-top-1630782338 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1630782338 svg {
  position: relative;
  display: block;
  width: calc(190% + 1.3px);
  height: 232px;
}

.custom-shape-divider-top-1630782338 .shape-fill {
  fill: #0892d0;
}

.text-align-center {
  text-align: center;
}

.contact-section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 200px;
}

.contact-section form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vh;
}

.contact-section form div input,
.contact-section form div textArea {
  padding: 10px;
  border-radius: 10px;
}

.contact-section form div input {
  width: 30%;
  height: 50px;
}

.contact-section form div textArea {
  width: auto;
  resize: none;
  width: 300px;
  height: 300px;
}

.blue {
  color: #0892d0;
}

.custom-shape-divider-top-1630782380 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1630782380 svg {
  position: relative;
  display: block;
  width: calc(132% + 1.3px);
  height: 232px;
}

.custom-shape-divider-top-1630782380 .shape-fill {
  fill: #ffffff;
}

@media screen and (max-width: 1024px) {
  nav h3 {
    font-size: 1em;
  }
  .intro {
    text-align: center;
  }
  .white-circle {
    margin: 20px;
  }
  .about-me-text {
    width: 70%;
  }
  .about-me-text p {
    font-size: 1em;
    padding: 20px;
  }
}
/*# sourceMappingURL=styles.css.map */